@import "tailwindcss";

@layer base {}

@theme {
  --font-roboto: "Roboto Mono", serif;

  --font-weidth-thin: 50;
  --font-weidth-extralight: 150;
  --font-weidth-light: 250;
  --font-weight-normal: 350;
  --font-weight-medium: 450;
  --font-weight-semibold: 550;
  --font-weight-bold: 650;
  --font-weight-extrabold: 750;
  --font-weight-black: 850;

  --container-content: 1248px;

  --color-accent: oklch(37.17% 0.0392 257.29);
  --color-neutral: oklch(55.34% 0.0116 58.07);
  --color-success: oklch(72.27% 0.192 149.58);
  --color-warn: oklch(79.52% 0.1617 86.05);
  --color-error: oklch(63.68% 0.2078 25.33);
  --color-white: oklch(96.99% 0.0013 106.42);
  --color-black: oklch(14.69% 0.0041 49.25);
}