@import 'tailwindcss';

@layer base {}

@theme {
    --font-roboto: "Roboto Mono", serif;
    --color-accent: oklch(37.17% 0.0392 257.29);
    --color-neutral: oklch(55.34% 0.0116 58.07);
    --color-success: oklch(72.27% 0.192 149.58);
    --color-warn: oklch(79.52% 0.1617 86.05);
    --color-error: oklch(63.68% 0.2078 25.33);
    --color-white: oklch(96.99% 0.0013 106.42);
}